.hero-banner {
  position: relative;
  background-image: url("https://img.freepik.com/fotos-premium/primer-plano-estante-zapatos-zapateria-alta-gama-ia-generativa_697880-6300.jpg?w=826");
  background-size: cover;
  background-position: center;
  height: 610px;
  filter: brightness(0.8) contrast(1.2);
}

.hero-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-banner .container {
  position: relative;
  z-index: 2;
  color: #fff;
}

.nuestra-historia img {
  max-width: 100%;
  height: auto;
}

.equipo-tienda .card {
  border: none;
  border-radius: 10px;
}

.equipo-tienda .card-img-top {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.footer {
  background-color: #333;
}
