/* Estilo para el texto del logo */
.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease-in-out;
}

/* Cambiar color del texto del logo al pasar el cursor */
.logo-text:hover {
  color: #d9d9d9;
}

/* Estilo de la barra de navegación */
.navbar {
  padding: 10px 20px;
  background-color: #0174c8;
}

/* Estilo para los enlaces del navbar */
.nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 15px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  color: #ffffff !important;
}

/* Cambiar color al pasar el cursor o hacer clic */
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #ffcc00 !important;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Estilo para el botón de carrito */
.nav-item .fas.fa-shopping-cart {
  font-size: 1.3rem;
}

/* Ajustes para el botón de menú responsive */
.navbar-toggler {
  border: none;
}

/* Ajustes para el menú colapsable en dispositivos pequeños */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Icono del menú responsive en blanco */
}
