.hero-banner {
  position: relative;
  background-image: url("https://i.pinimg.com/564x/dd/5f/3b/dd5f3b5fe781a8e8db5d19dfdc63be00.jpg");
  background-size: cover;
  background-position: center;
  height: 610px;
  filter: brightness(0.8) contrast(1.2);
}

.hero-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
  z-index: 1;
}

.hero-banner .container {
  position: relative;
  z-index: 2; /* Asegura que el texto esté sobre el overlay */
  color: #fff; /* Color blanco para el texto */
}

.card-img-top {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.compras h1 {
  color: red;
}

.compras .first-paragraph {
  color: blue;
}

.compras .second-paragraph {
  color: black;
}
